<br>

<div class="container">
        <mat-card>
                <div align="center">
                        <h1>
                                Objetivos
                            </h1>
                </div>
                
                <br>
                <h2>Objetivo General</h2>
                    <p>Desarrollar proyectos disruptivos o incrementales que fortalezcan las competencias creativas, emprendedoras e innovadoras de los participantes a través de la transferencia tecnológica y comercialización, dando respuesta a las necesidades de los sectores estratégicos del país.</p>
                    <br>
                <h2>Objetivos específicos</h2>
                <ul>
                   <li>Propiciar la vinculación con los diferentes sectores de la sociedad.</li> 
                   <li>Satisfacer las necesidades del entorno a través de proyectos de innovación tecnológica que generen valor agregado y puedan ser comercializables.</li> 
                   <li>Propiciar el desarrollo y actualización de los participantes.</li> 
                   <li>Fomentar la aplicación de competencias profesionales genéricas y específicas.</li> 
                   <li>Contribuir con el aprendizaje constructivista, al desarrollar en los estudiantes las habilidades, hábitos y valores de una formación integral.</li>  
                   <li>Propiciar la participación multidisciplinaria y el trabajo en equipo.</li>  
                   <li>Promover y propiciar una cultura de protección a la propiedad intelectual.</li> 
                   <li>Difundir en la sociedad los resultados de los trabajos de innovación tecnológica y logros alcanzados en el Tecnológico Nacional de México.</li> 
                   <li>Incrementar el patrimonio tecnológico del Tecnológico Nacional de México.</li>  
                </ul>
            
             </mat-card>
</div>
