<br><br>

<div class="container">

    <mat-card>
        <div align="center">
            <h1>Documentos</h1>
          </div>
        
          <mat-accordion>
        
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  Convocatoria
                </mat-expansion-panel-header>
            
               <p>Convocatoria ENEIT 2018 &nbsp;<a href="#">Descargar</a></p> 
             
              </mat-expansion-panel>
        
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                      Zonificación Vigente 
                  </mat-expansion-panel-header>
              
                  <p>Distribución de Institutos Tecnológicos por zona para la Etapa Regional del ENEIT 2018 &nbsp;<a href="#">Descargar</a></p>
              
                </mat-expansion-panel>
            
            </mat-accordion>
    </mat-card>

  </div>

