<br>
<div class="container">
    <mat-card>
      <div align="center">
          <h1>
              Categorías de participación
          </h1>
      </div>
        
        <br>
        <h2>Como innovación abierta</h2>
        <ul>  
          <li>Producto/Servicio</li> 
          <li>Proceso</li>
           <li>Mercadotecnia/Organización</li> 
           <li>Innovación Social</li>
           <li>Aplicaciones móviles</li>
        </ul>
    
        <br>
        <h2>Como problemáticas definidas</h2>
        <ul>  
          <li><a href="https://www.cenidet.edu.mx/archivos/vinculacion/ENEIT%202018%20RetosTransformacionales.pdf" target="_blank">Retos Transformacionales</a></li> 
          <li>Hacka TecNM</li>
          
        </ul>

    </mat-card>
</div>
       