    <div id="example1"></div>
<br>
    <div class="container">
      <div align="center">
          <h1>Bienvenido al sitio del Evento Nacional Estudiantil de Innovación Tecnológica </h1>
          <br><br>         
      </div>
      <mat-card>
        <h2>Participantes</h2>  
        <p>Podrán participar todos los estudiantes del Tecnológico Nacional de México (TecNM) de los niveles de licenciatura y posgrado inscritos oficialmente en el periodo Enero-Junio de 2018</p>
      </mat-card>
      <br>
      <mat-card>
        <h2>Etapas de evaluación</h2>  
        <p>La convocatoria es emitida por las Oficinas Centrales del TecNM, anualmente, e involucra tres etapas de evaluación</p>
        <ol>
            <li>Fase local</li>
            <li>Fase regional</li>
            <li>Fase nacional</li>
        </ol>
<br>
        <a  href="/areas">Ver áreas de participación <i class="fas fa-angle-right"></i></a>&nbsp; &nbsp;
        <a  href="/categorias">Ver categorías <i class="fas fa-angle-right"></i></a>

      </mat-card>
      <br>
      <mat-card>

        <h2>Fechas límites</h2>
        <mat-list>
            <mat-list-item>Entrega de contraseñas para el registro en línea del proyecto, para líder del proyecto y asesor: Del 02  al 25 mayo.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Registro de proyectos por parte del líder del equipo : Del 02 de mayo al 06 de junio.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Vo.Bo. del asesor del equipo:  Del 02 de mayo al 06 de junio.</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Etapa Local: viernes 15 de junio de 2018.</mat-list-item>
          </mat-list>
      </mat-card>
<br>

    </div>



